In [1]:
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense
from sklearn.model_selection import train_test_split

In [6]:
df_train = pd.read_csv("./train.csv")
df_train[['female','male']] = pd.get_dummies(df_train['Sex'])
df_train[["C","Q","S"]] = pd.get_dummies(df_train["Embarked"])
df_train.fillna(method="ffill",inplace=True)
drop_features = ["Sex",'Ticket','Name','Cabin',"Embarked"]
df_train.drop(drop_features,inplace=True,axis=1)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,female,male,C,Q,S
0,1,0,3,22.0,1,0,7.2500,0,1,0,0,1
1,2,1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,1,3,26.0,0,0,7.9250,1,0,0,0,1
3,4,1,1,35.0,1,0,53.1000,1,0,0,0,1
4,5,0,3,35.0,0,0,8.0500,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,27.0,0,0,13.0000,0,1,0,0,1
887,888,1,1,19.0,0,0,30.0000,1,0,0,0,1
888,889,0,3,19.0,1,2,23.4500,1,0,0,0,1
889,890,1,1,26.0,0,0,30.0000,0,1,1,0,0
890,891,0,3,32.0,0,0,7.7500,0,1,0,1,0

In [5]:
x_train, x_test, y_train, y_test = train_test_split(df_train.loc[:,'Pclass':'male'],df_train.Survived,\
                                                          test_size=0.2)

## Keras: A Python Deep learning framework

In [7]:
model_simple = Sequential()
# create a neural network that accepts 7 input values with the first hidden layer with 12 neurons
model_simple.add(Dense(12, input_dim=7, activation='relu'))
# second hidden layer with 12 neurons
model_simple.add(Dense(12, activation='relu'))
# output layer with 1 neuron(survived or not)
model_simple.add(Dense(1, activation='sigmoid'))

In [35]:
# loss function: binary cross entropy
# optimizer: adam (as opposed to gradient descent)
# metric: how good is the model according to this metric?
model_simple.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [37]:
# epoch: pass the entire dataset through the network 150 times
# batch size: for every pass of the entire dataset, split the data into groups of 10 to feed in individually
model_simple.fit(np.array(x_train), y_train, epochs=150, batch_size=10)